* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MonumentExtended";
  font-style: normal;
  font-weight: normal;
  src: url("./MonumentExtended-Regular") format("otf");
}

@font-face {
  font-family: "MonumentExtended";
  font-style: normal;
  font-weight: bold;
  src: url("./MonumentExtended-Ultrabold") format("otf");
}
